/*  Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {}

/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {}

/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .company-platform-content {
        width: 80%;
        padding-left: 10%;
    }
    .company-platform-img {
        float: right;
        width: 90%;
    }
    .company-platform-img:hover {
        transform: scale(1.05);
        transition: transform .7s;
    }
}

/*  Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .company-platform-content {
        width: 80%;
        padding-left: 10%;
    }
    .company-platform-img {
        float: right;
        width: 70%;
    }
    .company-platform-img:hover {
        transform: scale(1.05);
        transition: transform .7s;
    }
}

/*  Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .company-platform-content {
        width: 80%;
        padding-left: 10%;
    }
    .company-platform-img {
        float: right;
        width: 70%;
    }
    .company-platform-img:hover {
        transform: scale(1.05);
        transition: transform .7s;
    }
}

.company-desc {
    margin-top: 70px;
}

.company-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #343434;
}

.company-title span {
    font-size: 16px;
    margin: 0 10px;
}

.company-content {
    text-align: center;
    font-size: 16px;
    color: #818181;
    line-height: 1.6drem;
}

.company-feature {
    margin-top: 100px;
}

.company-feature-item {
    padding: 50px 15px 15px;
    margin-bottom: 100px;
}

.company-feature-item-box {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: #F9F9F9; */
    border-radius: 5px;
    padding: 54px 40px 30px;
    box-shadow: 0px 10px 50px 10px #F7F7F7;
}

.company-feature-item-title-icon {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 3px 30px 10px #F7F7F7;
    z-index: 10;
}

.company-feature-item-box p:first-of-type {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.company-feature-item-box p:last-of-type {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-size: 12px;
}

.company-platform {
    background: #F0FAFD;
    padding-top: 3%;
    padding-bottom: 3%;
}

.company-partner {
    margin-top: 76px;
}

.company-partner-item {
    width: 100%;
    height: 150px;
    /* padding: 25px; */
}

.company-partner-item-content {
    width: 100%;
    height: 100%;
    border: 1px solid #cccc;
    border-radius: 5px;
}

.company-partner-item-content img {
    border-radius: 5px;
}

.my-partner .carousel-indicators {
    bottom: -3rem;
}

.my-partner .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #DFDFDF;
    cursor: pointer;
}

.my-partner .carousel-indicators .active {
    background: #FB2D2A;
}

.company-partner-item {
    margin-bottom: 10%;
}

.carousel-caption {
    bottom: 36%;
}

.customer-evaluation {
    margin-top: 80px;
    width: 100%;
    background: #F0FAFD;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 50px;
}

.customer-evaluation .col-lg-2 {
    text-align: center;
}

#stars span {
    padding: 2px;
    border: 1px solid #FB2D2A;
    border-radius: 50%;
    color: #FB2D2A;
}

.comment {
    padding-left: 8%;
}

.comment-list li {
    margin-bottom: 40px;
    width: 85%;
    font-size: .875rem;
}

.comment-list p {
    color: #AFB4B6;
}

.comment-list img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
}

.comment-list span:first-of-type {
    margin-left: 10px;
    color: #AFB4B6;
}