<!doctype html>
<html lang="en">

<head>
    <title>产品</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/_common.css">
    <link rel="stylesheet" href="../css/about_us.css">
</head>

<body>
    <!-- 导航 开始 -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top my-navbar" style="background:rgba(0,0,0,.4);">
        <a class="navbar-brand offset-md-3" href="#">就爱优品</a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-md-1" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="../index.html">首页</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">产品 </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="../views/case.html">客户案例</a>
                </li>
                <li class="nav-item mr-3 active">
                    <a class="nav-link" href="#">关于我们
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 导航 结束 -->

    <!-- 轮播图 开始 -->
    <div id="carousel-banner" class="carousel slide carousel-fade my-banner" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-banner" data-slide-to="1"></li>
            <li data-target="#carousel-banner" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <!-- <img src="http://pe1s.static.pdr365.com/minorite/index/banner0001.png" alt="First slide"> -->
                <img src="../img/about_us_banner.png" alt="">
                <div class=" d-none d-md-block about-us-carousel-caption">
                    <h1>关于我们</h1>
                    <p>
                        <br />一站式解决方案，规避策略与传播
                        <br />的断层风险，做到真正执行不偏离策略。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 轮播图 结束 -->

    <!-- 我们是谁 开始 -->
    <section class="we-are">
        <div class="container">
            <div class="we-are-header">
                <h3 style="margin-bottom:3rem;">我们是谁</h3>
                <p>一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。</p>
            </div>
            <div class="row we-business-container">
                <div class="col-lg-4 d-flex justify-content-center flex-column align-items-center">
                    <div class="we-business-img">
                        <img src="../img/we_business_1.png" alt="">
                    </div>
                    <h5 class="we-business-title">界面设计</h5>
                    <p class="we-business-content">微信小程序客户端界面、后天界面设计，网站界面设计，微信小程序客户端界面、后台界面设计，网站界面设微信小程序客户端界面、后天界面设计，网站界面设计，微信小程序客户端界面、后台界面设计，网站界面设计计</p>
                </div>
                <div class="col-lg-4 d-flex justify-content-center flex-column align-items-center">
                    <div class="we-business-img">
                        <img src="../img/we_business_2.png" alt="">
                    </div>
                    <h5 class="we-business-title">界面设计</h5>
                    <p class="we-business-content">微信小程序客户端界面、后天界面设计，网站界面设计，微信小程序客户端界面、后台界面设计，网站界面设计微信小程序客户端界面、后天界面设计，网站界面设计，微信小程序客户端界面、后台界面设计，网站界面设计</p>
                </div>
                <div class="col-lg-4 d-flex justify-content-center flex-column align-items-center">
                    <div class="we-business-img">
                        <img src="../img/we_business_3.png" alt="">
                    </div>
                    <h5 class="we-business-title">界面设计</h5>
                    <p class="we-business-content">微信小程序客户端界面、后天界面设计，网站界面设计，微信小程序客户端界面、后台界面设计，网站界面设微信小程序客户端界面、后天界面设计，网站界面设计，微信小程序客户端界面、后台界面设计，网站界面设计计</p>
                </div>
            </div>
        </div>
    </section>
    <!-- 我们是谁 结束 -->

    <!-- 业务展示 开始 -->
    <section class="business-show">
        <div class="container">
            <h3 style="text-align:center;margin-bottom:3rem;">业务展示</h3>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="business-show-item d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/business_show_logo.png" alt="">
                        <h5>专业的产品技术提供商</h5>
                        <p>独立专业的影城自营电商平台产品/技术服务提供商。依赖于任何家售票系统商，实现影城电商平台业务逻辑</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="business-show-item d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/business_show_logo.png" alt="">
                        <h5>专业的产品技术提供商</h5>
                        <p>独立专业的影城自营电商平台产品/技术服务提供商。依赖于任何家售票系统商，实现影城电商平台业务逻辑</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="business-show-item d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/business_show_logo.png" alt="">
                        <h5>专业的产品技术提供商</h5>
                        <p>独立专业的影城自营电商平台产品/技术服务提供商。依赖于任何家售票系统商，实现影城电商平台业务逻辑</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="business-show-item d-flex flex-column justify-content-center align-items-center">
                        <img src="../img/business_show_logo.png" alt="">
                        <h5>专业的产品技术提供商</h5>
                        <p>独立专业的影城自营电商平台产品/技术服务提供商。依赖于任何家售票系统商，实现影城电商平台业务逻辑</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 业务展示 结束 -->

    <!-- 发展历程 开始 -->
    <section class="development-history">
        <div class="container">
            <h3 style="text-align:center;margin-bottom:3rem;">发展历程</h3>
            <div class="row justify-content-between">
                <div class="col-lg-2">
                    <div class="development-history-item d-flex flex-column justify-content-center align-items-center">
                        <!-- <img src="" alt=""> -->
                        <div class="development-history-item-year">
                            2014
                        </div>
                        <h6>Beginning</h6>
                        <p>就爱优品成立于2000年，服务包括中国移动/建设银行在内的多家中型客户，为客户提供专业化可定制的票务系统解决方案。</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="development-history-item d-flex flex-column justify-content-center align-items-center">
                        <!-- <img src="" alt=""> -->
                        <div class="development-history-item-year">
                            2015
                        </div>
                        <h6>Beginning</h6>
                        <p>就爱优品成立于2000年，服务包括中国移动/建设银行在内的多家中型客户，为客户提供专业化可定制的票务系统解决方案。</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="development-history-item d-flex flex-column justify-content-center align-items-center">
                        <!-- <img src="" alt=""> -->
                        <div class="development-history-item-year">
                            2016
                        </div>
                        <h6>Beginning</h6>
                        <p>就爱优品成立于2000年，服务包括中国移动/建设银行在内的多家中型客户，为客户提供专业化可定制的票务系统解决方案。</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="development-history-item d-flex flex-column justify-content-center align-items-center">
                        <!-- <img src="" alt=""> -->
                        <div class="development-history-item-year">
                            2017
                        </div>
                        <h6>Beginning</h6>
                        <p>就爱优品成立于2000年，服务包括中国移动/建设银行在内的多家中型客户，为客户提供专业化可定制的票务系统解决方案。</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="development-history-item d-flex flex-column justify-content-center align-items-center">
                        <!-- <img src="" alt=""> -->
                        <div class="development-history-item-year year-active">
                            2018
                        </div>
                        <h6>Beginning</h6>
                        <p>就爱优品成立于2000年，服务包括中国移动/建设银行在内的多家中型客户，为客户提供专业化可定制的票务系统解决方案。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 发展历程 结束 -->
    <section class="founder-team">
        <div class="container">
            <h3 style="text-align:center;margin-bottom:3rem;">创始团队</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="founder-team-item d-flex flex-column justify-content-center align-items-center">
                        <div class="founder-team-item-img">
                            <img src="../img/business_show_logo.png" alt="">
                        </div>
                        <h4>李腾腾</h4>
                        <p>曾荣获美国TEXAS A&M大学计算机科学硕士学位，拥有六项全球云计算专利，是业界OS内核、虚拟化和网络领域的顶级专家。在微软任职的九年期间，与DAVE CULTER（WINDOWS NT创始总架构师）研发了微软公有云AZURE的网络虚拟化平台，由他带领研发的虚拟交换机成为了AZURE
                            SDN的基础。自2012年起，左玥领导OS虚拟化团队为WINDOWS和AZURE提供容器技术，并担任微软首席架构师和研发经理，成为“微软容器技术第一人”。2014年创办灵雀云，励志成为企业级PASS顶级品牌。
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="founder-team-item d-flex flex-column justify-content-center align-items-center">
                        <div class="founder-team-item-img">
                            <img src="../img/business_show_logo.png" alt="">
                        </div>
                        <h4>李腾腾</h4>
                        <p>曾荣获美国TEXAS A&M大学计算机科学硕士学位，拥有六项全球云计算专利，是业界OS内核、虚拟化和网络领域的顶级专家。在微软任职的九年期间，与DAVE CULTER（WINDOWS NT创始总架构师）研发了微软公有云AZURE的网络虚拟化平台，由他带领研发的虚拟交换机成为了AZURE
                            SDN的基础。自2012年起，左玥领导OS虚拟化团队为WINDOWS和AZURE提供容器技术，并担任微软首席架构师和研发经理，成为“微软容器技术第一人”。2014年创办灵雀云，励志成为企业级PASS顶级品牌。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer 开始 -->
    <section class="footer">
        <div class="container" style="height:100%;">
            <div class="row" style="height:100%;">
                <div class="col-md-10 d-none d-md-block">
                    <div class="row" style="height:100%;">
                        <div class="col-md-3 footer-item">
                            <p>产品</p>
                            <ul>
                                <li>
                                    <a href="#">聚合支付</a>
                                </li>
                                <li>
                                    <a href="#">会员系统</a>
                                </li>
                                <li>
                                    <a href="#">多级商户系统</a>
                                </li>
                                <li>
                                    <a href="#">资金存管</a>
                                </li>
                                <li>
                                    <a href="#">区块链优惠券</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-item">
                            <p>开发者</p>
                            <ul>
                                <li>
                                    <a href="#">开发者中心</a>
                                </li>
                                <li>
                                    <a href="#">开发指南</a>
                                </li>
                                <li>
                                    <a href="#">API 文档</a>
                                </li>
                                <li>
                                    <a href="#">SDK 下载</a>
                                </li>
                                <li>
                                    <a href="#">开发者社区</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-item">
                            <p>帮助</p>
                            <ul>
                                <li>
                                    <a href="#">
                                        帮助中心
                                    </a>
                                </li>
                                <li>
                                    <a href="#">系统状态</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-item">
                            <p>公司</p>
                            <ul>
                                <li>
                                    <a href="#">关于我们</a>
                                </li>
                                <li>
                                    <a href="#">联系我们</a>
                                </li>
                                <li>
                                    <a href="#">招聘</a>
                                </li>
                                <li>
                                    <a href="#">媒体</a>
                                </li>
                                <li>
                                    <a href="#">公益</a>
                                </li>
                                <li>
                                    <a href="#">条款</a>
                                </li>
                                <li>
                                    <a href="#">合作</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 work-time">
                    <p>业务咨询专线</p>
                    <p>400-052-2766</p>
                    <p>09:00 - 19:00(全年无休)</p>
                    <img src="../img/q-icon.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- footer 结束 -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="../js/_common.js"></script>
</body>

</html>