<!doctype html>
<html lang="en">

<head>
    <title>客户案例</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/_common.css">
    <link rel="stylesheet" href="../css/case.css">
</head>

<body>
    <!-- 导航 开始 -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top my-navbar" style="background:rgba(0,0,0,.4);">
        <a class="navbar-brand offset-md-3" href="#">就爱优品</a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-md-1" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="../index.html">首页</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="../views/product.html">产品</a>
                </li>
                <li class="nav-item mr-3 active">
                    <a class="nav-link" href="#">客户案例
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="../views/about_us.html">关于我们</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 导航 结束 -->

    <!-- 轮播图 开始 -->
    <div id="carousel-banner" class="carousel slide carousel-fade my-banner" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-banner" data-slide-to="1"></li>
            <li data-target="#carousel-banner" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <!-- <img src="http://pe1s.static.pdr365.com/minorite/index/banner0001.png" alt="First slide"> -->
                <img src="../img/case_banner.png" alt="">
                <div class=" d-none d-md-block case-carousel-caption">
                    <h1>客户案例</h1>
                    <p>
                        <br />一站式解决方案，规避策略与传播
                        <br />的断层风险，做到真正执行不偏离策略。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 轮播图 结束 -->

    <!-- 客户案例 开始 -->
    <section class="case-container">
        <div class="container">
            <h3 style="margin-bottom:7rem;">产品持续更新 比丰富更有料</h3>
            <div class="case-item-container">
                <div class="case-item-title-img">
                    <img src="../img/case_title.png" alt="">
                </div>
                <span>愉悦家</span>
                <span>宠物社区</span>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="case-item-content">
                            <p>宠物医院系统</p>
                            <p>一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。 一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。 一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。
                                一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。
                            </p>
                            <a href="">查看更多 >></a>
                        </div>
                    </div>
                    <divd class="col-lg-6">
                        <div class="case-item-qrcode d-flex justify-content-sm-center align-items-sm-center mt-sm-4 justify-content-lg-end align-items-lg-end">
                            <div class="case-item-qrcode-img">
                                <img src="../img/case_wx_qrcode.png" alt="">
                                <p>微信公众号</p>
                            </div>
                            <div class="case-item-qrcode-img">
                                <img src="../img/case_xcx_qrcode.png" alt="">
                                <p>微信小程序</p>
                            </div>
                        </div>
                    </divd>
                </div>
            </div>
            <div class="case-item-container">
                <div class="case-item-title-img">
                    <img src="../img/case_title.png" alt="">
                </div>
                <span>愉悦家</span>
                <span>宠物社区</span>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="case-item-content">
                            <p>宠物医院系统</p>
                            <p>一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。 一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。 一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。
                                一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。
                            </p>
                            <a href="">查看更多 >></a>
                        </div>
                    </div>
                    <divd class="col-lg-6">
                        <div class="case-item-qrcode d-flex justify-content-sm-center align-items-sm-center mt-sm-4 justify-content-lg-end align-items-lg-end">
                            <div class="case-item-qrcode-img">
                                <img src="../img/case_wx_qrcode.png" alt="">
                                <p>微信公众号</p>
                            </div>
                            <div class="case-item-qrcode-img">
                                <img src="../img/case_xcx_qrcode.png" alt="">
                                <p>微信小程序</p>
                            </div>
                        </div>
                    </divd>
                </div>
            </div>
        </div>
    </section>
    <section class="case-container">
        <div class="container">
            <h3 style="margin-bottom:7rem;">产品持续更新 比丰富更有料</h3>
            <div class="case-item-container">
                <div class="case-item-title-img">
                    <img src="../img/case_title.png" alt="">
                </div>
                <span>愉悦家</span>
                <span>宠物社区</span>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="case-item-content">
                            <p>宠物医院系统</p>
                            <p>一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。 一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。 一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。
                                一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。
                            </p>
                            <a href="">查看更多 >></a>
                        </div>
                    </div>
                    <divd class="col-lg-6">
                        <div class="case-item-qrcode d-flex justify-content-sm-center align-items-sm-center mt-sm-4 justify-content-lg-end align-items-lg-end">
                            <div class="case-item-qrcode-img">
                                <img src="../img/case_wx_qrcode.png" alt="">
                                <p>微信公众号</p>
                            </div>
                            <div class="case-item-qrcode-img">
                                <img src="../img/case_xcx_qrcode.png" alt="">
                                <p>微信小程序</p>
                            </div>
                        </div>
                    </divd>
                </div>
            </div>
            <div class="case-item-container">
                <div class="case-item-title-img">
                    <img src="../img/case_title.png" alt="">
                </div>
                <span>愉悦家</span>
                <span>宠物社区</span>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="case-item-content">
                            <p>宠物医院系统</p>
                            <p>一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。 一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。 一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。
                                一站式解决方案，规避策略与传播的断层风险，做到真正执行不偏离策略。
                            </p>
                            <a href="">查看更多 >></a>
                        </div>
                    </div>
                    <divd class="col-lg-6">
                        <div class="case-item-qrcode d-flex justify-content-sm-center align-items-sm-center mt-sm-4 justify-content-lg-end align-items-lg-end">
                            <div class="case-item-qrcode-img">
                                <img src="../img/case_wx_qrcode.png" alt="">
                                <p>微信公众号</p>
                            </div>
                            <div class="case-item-qrcode-img">
                                <img src="../img/case_xcx_qrcode.png" alt="">
                                <p>微信小程序</p>
                            </div>
                        </div>
                    </divd>
                </div>
            </div>
        </div>
    </section>
    <!-- 客户案例 结束 -->

    <!-- footer 开始 -->
    <section class="footer">
        <div class="container" style="height:100%;">
            <div class="row" style="height:100%;">
                <div class="col-md-10 d-none d-md-block">
                    <div class="row" style="height:100%;">
                        <div class="col-md-3 footer-item">
                            <p>产品</p>
                            <ul>
                                <li>
                                    <a href="#">聚合支付</a>
                                </li>
                                <li>
                                    <a href="#">会员系统</a>
                                </li>
                                <li>
                                    <a href="#">多级商户系统</a>
                                </li>
                                <li>
                                    <a href="#">资金存管</a>
                                </li>
                                <li>
                                    <a href="#">区块链优惠券</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-item">
                            <p>开发者</p>
                            <ul>
                                <li>
                                    <a href="#">开发者中心</a>
                                </li>
                                <li>
                                    <a href="#">开发指南</a>
                                </li>
                                <li>
                                    <a href="#">API 文档</a>
                                </li>
                                <li>
                                    <a href="#">SDK 下载</a>
                                </li>
                                <li>
                                    <a href="#">开发者社区</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-item">
                            <p>帮助</p>
                            <ul>
                                <li>
                                    <a href="#">
                                        帮助中心
                                    </a>
                                </li>
                                <li>
                                    <a href="#">系统状态</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-item">
                            <p>公司</p>
                            <ul>
                                <li>
                                    <a href="#">关于我们</a>
                                </li>
                                <li>
                                    <a href="#">联系我们</a>
                                </li>
                                <li>
                                    <a href="#">招聘</a>
                                </li>
                                <li>
                                    <a href="#">媒体</a>
                                </li>
                                <li>
                                    <a href="#">公益</a>
                                </li>
                                <li>
                                    <a href="#">条款</a>
                                </li>
                                <li>
                                    <a href="#">合作</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 work-time">
                    <p>业务咨询专线</p>
                    <p>400-052-2766</p>
                    <p>09:00 - 19:00(全年无休)</p>
                    <img src="../img/q-icon.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- footer 结束 -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="../js/_common.js"></script>
</body>

</html>