<!doctype html>
<html lang="en">

<head>
    <title>产品</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/_common.css">
    <link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <!-- 导航 开始 -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top my-navbar" style="background:rgba(0,0,0,.4);">
        <a class="navbar-brand offset-md-3" href="#">就爱优品</a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-md-1" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="../index.html">首页</a>
                </li>
                <li class="nav-item mr-3 active">
                    <a class="nav-link" href="#">产品
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="../views/case.html">客户案例</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="../views/about_us.html">关于我们</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 导航 结束 -->

    <!-- 轮播图 开始 -->
    <div id="carousel-banner" class="carousel slide carousel-fade my-banner" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-banner" data-slide-to="1"></li>
            <li data-target="#carousel-banner" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <!-- <img src="http://pe1s.static.pdr365.com/minorite/index/banner0001.png" alt="First slide"> -->
                <img src="../img/product_banner.png" alt="">
                <div class=" d-none d-md-block product-carousel-caption">
                    <h1>公司产品介绍</h1>
                    <p>
                        <br />一站式解决方案，规避策略与传播
                        <br />的断层风险，做到真正执行不偏离策略。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 轮播图 结束 -->

    <!-- 产品案例 开始 -->
    <section class="case-show">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="case-show-item">
                        <h5>客户体验</h5>
                        <p>微信小程序客户端界面</p>
                        <img src="../img/product_case_logo.png" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="case-show-item">
                        <h5>客户体验</h5>
                        <p>微信小程序客户端界面</p>
                        <img src="../img/product_case_logo.png" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="case-show-item">
                        <h5>客户体验</h5>
                        <p>微信小程序客户端界面</p>
                        <img src="../img/product_case_logo.png" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="case-show-item">
                        <h5>客户体验</h5>
                        <p>微信小程序客户端界面</p>
                        <img src="../img/product_case_logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 产品案例 结束 -->

    <!-- 电商行业 开始 -->
    <section class="industry-electronic industry-box">
        <div class="container">
            <div class="industry-header d-flex justify-content-between">
                <div class="industry-title">电商行业</div>
                <a href="#">应用客户 >></a>
            </div>
            <div class="row justify-content-around">
                <div class="industry-item">
                    <img src="../img/industry_logo_1.png" alt="">
                    <p>商品管理</p>
                </div>
                <div class="industry-item">
                    <img src="../img/industry_logo_2.png" alt="">
                    <p>用户管理</p>
                </div>
                <div class="industry-item">
                    <img src="../img/industry_logo_3.png" alt="">
                    <p>交易管理</p>
                </div>
                <div class="industry-item">
                    <img src="../img/industry_logo_4.png" alt="">
                    <p>报表管理</p>
                </div>
                <div class="industry-item">
                    <img src="../img/industry_logo_5.png" alt="">
                    <p>票务管理</p>
                </div>
            </div>
        </div>
    </section>
    <!-- 电商行业 结束 -->

    <!-- 服务行业 开始 -->
    <section class="industry-service industry-box">
            <div class="container">
                <div class="industry-header d-flex justify-content-between">
                    <div class="industry-title">服务行业</div>
                    <a href="#">应用客户 >></a>
                </div>
                <div class="row justify-content-around">
                    <div class="industry-item">
                        <img src="../img/industry_logo_1.png" alt="">
                        <p>商品管理</p>
                    </div>
                    <div class="industry-item">
                        <img src="../img/industry_logo_2.png" alt="">
                        <p>用户管理</p>
                    </div>
                    <div class="industry-item">
                        <img src="../img/industry_logo_3.png" alt="">
                        <p>交易管理</p>
                    </div>
                    <div class="industry-item">
                        <img src="../img/industry_logo_4.png" alt="">
                        <p>报表管理</p>
                    </div>
                    <div class="industry-item">
                        <img src="../img/industry_logo_5.png" alt="">
                        <p>票务管理</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- 服务行业 结束 -->

    <!-- 应用行业 开始 -->
    <section class="industry-application">
        <div class="container">
            <h3 style="text-align:center;">应用行业</h3>
            <p class="industry-application-title">我们具有专业的技术团队为您提出创意、美观、独特、合理、有效的设计方案；我们具有专业的技术团队为您提出创意、美观、独特、合理、有效的设计方案；</p>
            <nav>
                <div class="nav nav-tabs justify-content-center product-nav-tab" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                        aria-selected="true">全部</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                        aria-selected="false">行业一</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                        aria-selected="false">行业二</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div id="carousel-profuct-tab-all" class="carousel slide product-tab" data-ride="carousel">
                        <ol class="carousel-indicators d-none  d-md-flex">
                            <li data-target="#carousel-profuct-tab-all" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-profuct-tab-all" data-slide-to="1"></li>
                            <li data-target="#carousel-profuct-tab-all" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div id="carousel-profuct-tab-pane-1" class="carousel slide product-tab" data-ride="carousel">
                        <ol class="carousel-indicators d-none  d-md-flex">
                            <li data-target="#carousel-profuct-tab-pane-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-profuct-tab-pane-1" data-slide-to="1"></li>
                            <li data-target="#carousel-profuct-tab-pane-1" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div id="carousel-profuct-tab-pane-2" class="carousel slide product-tab" data-ride="carousel">
                        <ol class="carousel-indicators d-none  d-md-flex">
                            <li data-target="#carousel-profuct-tab-pane-2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-profuct-tab-pane-2" data-slide-to="1"></li>
                            <li data-target="#carousel-profuct-tab-pane-2" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="application-item">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 应用行业 结束 -->

    <!-- footer 开始 -->
    <section class="footer">
        <div class="container" style="height:100%;">
            <div class="row" style="height:100%;">
                <div class="col-md-10 d-none d-md-block">
                    <div class="row" style="height:100%;">
                        <div class="col-md-3 footer-item">
                            <p>产品</p>
                            <ul>
                                <li>
                                    <a href="#">聚合支付</a>
                                </li>
                                <li>
                                    <a href="#">会员系统</a>
                                </li>
                                <li>
                                    <a href="#">多级商户系统</a>
                                </li>
                                <li>
                                    <a href="#">资金存管</a>
                                </li>
                                <li>
                                    <a href="#">区块链优惠券</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-item">
                            <p>开发者</p>
                            <ul>
                                <li>
                                    <a href="#">开发者中心</a>
                                </li>
                                <li>
                                    <a href="#">开发指南</a>
                                </li>
                                <li>
                                    <a href="#">API 文档</a>
                                </li>
                                <li>
                                    <a href="#">SDK 下载</a>
                                </li>
                                <li>
                                    <a href="#">开发者社区</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-item">
                            <p>帮助</p>
                            <ul>
                                <li>
                                    <a href="#">
                                        帮助中心
                                    </a>
                                </li>
                                <li>
                                    <a href="#">系统状态</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-item">
                            <p>公司</p>
                            <ul>
                                <li>
                                    <a href="#">关于我们</a>
                                </li>
                                <li>
                                    <a href="#">联系我们</a>
                                </li>
                                <li>
                                    <a href="#">招聘</a>
                                </li>
                                <li>
                                    <a href="#">媒体</a>
                                </li>
                                <li>
                                    <a href="#">公益</a>
                                </li>
                                <li>
                                    <a href="#">条款</a>
                                </li>
                                <li>
                                    <a href="#">合作</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 work-time">
                    <p>业务咨询专线</p>
                    <p>400-052-2766</p>
                    <p>09:00 - 19:00(全年无休)</p>
                    <img src="../img/q-icon.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- footer 结束 -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="../js/_common.js"></script>
</body>

</html>